<?php
$form = $this->form;

$form->get('tax_table_id')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Informe o tax_table'
    ]);
$form->get('value')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'O valor',
    'rows'=>6
    ]);
$form->get('from_value')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Valor incial'
    ]);
$form->get('until_value')->setAttributes([
    'class'=>'form-control' ,
    'placeholder'=>'Valor final'  
    ]);
$form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$form->get('submit')->setValue('Atualizar');
$form->prepare();

?>

<h1>Editando uma faixa de taxa</h1>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('tax_table_id')); ?>
            <?= $this->formElement($form->get('tax_table_id')); ?>
            <?= $this->formElementErrors($form->get('tax_table_id')); ?>                  
        </div>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('value')); ?>
            <?= $this->formElement($form->get('value')); ?>
            <?= $this->formElementErrors($form->get('value')); ?>                  
        </div>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('from_value')); ?>
            <?= $this->formElement($form->get('from_value')); ?>
            <?= $this->formElementErrors($form->get('from_value')); ?>                  
            <!-- <p class="help-block">Separate tags with comma.</p> -->
        </div>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('until_value')); ?>
            <?= $this->formElement($form->get('until_value')); ?>
            <?= $this->formElementErrors($form->get('until_value')); ?>                  
        </div>
        
        <?= $this->formElement($form->get('submit')); ?>
        
        <?= $this->form()->closeTag(); ?>
    </div>    
</div>   