<h1>Taxas</h1>
<a href="tax/add" class="btn btn-default" >Nova taxa</a>
<div id="app">
  &nbsp;
</div>
<table class="table table-bordered">
	<tr>
		<th>ID</th>
		<th>Tax table</th>
		<th>Value</th>
		<th>From value</th>
		<th>Until value</th>
		<th class="col-md-2">Operações</th>
	</tr>
	<?php foreach($taxs as $tax): ?>
		<tr>
			<td><?= $this->escapeHtml($tax->getId()); ?></td>
			<td><?= $this->escapeHtml($tax->getTaxTable()->getDescription()); ?></td>
			<td><?= $this->escapeHtml($tax->getValue()); ?></td>
			<td><?= $this->escapeHtml($tax->getFromValue()); ?></td>
			<td><?= $this->escapeHtml($tax->getUntilValue()); ?></td>
			<td class="text-center">
				<a href="tax/edit/<?= $this->escapeHtml($tax->getId()); ?>">Editar / </a>
				<a href="tax/delete/<?= $this->escapeHtml($tax->getId()); ?>">Apagar</a>
			</td>
		</tr>
	<?php endforeach; ?>
</table>