<?php
$form = $this->form;

$form->get('operator_id')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Informe o id do operador'
]);
$form->get('description')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Descrição da taxa',
    'rows'=>6
]);
$form->get('effective_date')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Data efetiva'
]);
$form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$form->get('submit')->setValue('Atualizar');
$form->prepare();

?>

<h1>Alterando uma taxa</h1>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('operator_id')); ?>
            <?= $this->formElement($form->get('operator_id')); ?>
            <?= $this->formElementErrors($form->get('operator_id')); ?>
        </div>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('description')); ?>
            <?= $this->formElement($form->get('description')); ?>
            <?= $this->formElementErrors($form->get('description')); ?>
        </div>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('effective_date')); ?>
            <?= $this->formElement($form->get('effective_date')); ?>
            <?= $this->formElementErrors($form->get('effective_date')); ?>
        </div>
        
        <?= $this->formElement($form->get('submit')); ?>
        
        <?= $this->form()->closeTag(); ?>
    </div>    
</div>   