<h1>Tabela de taxas</h1>
<a href="taxTable/add" class="btn btn-default" >Nova taxa na tabela</a>
<div id="app">
  &nbsp;
</div>
<table class="table table-bordered">
	<tr>
		<th>ID</th>
		<th>Operator</th>
		<th>Description</th>
		<th>Effective date</th>
		<th class="col-md-2">Operações</th>
	</tr>
	<?php 

	foreach($taxsTable as $tax): 
		?>
		<tr>
			<td><?= $this->escapeHtml($tax->getId()); ?></td>
			<td><?= $this->escapeHtml($tax->getOperator()->getName()); ?></td>
			<td><?= $this->escapeHtml($tax->getDescription()); ?></td>
			<td><?= $tax->getEffectiveDate(); ?></td>
			<td class="text-center">
				<a href="taxTable/edit/<?= $this->escapeHtml($tax->getId()); ?>">Editar / </a>
				<a href="taxTable/delete/<?= $this->escapeHtml($tax->getId()); ?>">Apagar</a>
			</td>
		</tr>
	<?php endforeach; ?>
</table>