<div class="jumbotron">
    <h1 class="text-center">CRUD de taxas</span></h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tabela de taxas</h3>
            </div>
            <div class="panel-body">
                <p>
                    Cadastro das taxas
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Taxas</h3>
            </div>
            <div class="panel-body">
                <p>
                    Cadastro das faixas das taxas
                </p>
            </div>
        </div>
    </div>
</div>
